// declare variables and values
$lawn_PrimaryColor: rgb(0, 119, 54);
$lawn_SecondaryColor: rgb(61, 36, 36);
$lawn_tertiaryColor:rgb(77, 109, 90);

$snow_PrimaryColor: rgb(202, 202, 202);
$snow_SecondaryColor: rgb(51, 161, 189);
$snow_tertiaryColor:rgb(65, 115, 189);

$PrimaryColor: rgb(73, 190, 88);
$SecondaryColor: rgb(35, 168, 106);
$tertiaryColor:rgb(97, 97, 97);
$textcolor: rgb(34, 36, 37);
$secondaryTextColor: rgb(210, 218, 223);
$tertiaryTextColor: rgb(75, 92, 102);
$fontsize: 14px;
$pageMargin:auto;
$primaryFont: 'Franklin Gothic Medium',  sans-serif;
$secondaryFont: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$tertiaryFont: Verdana, Geneva, Tahoma, sans-serif;
$headerborder: dotted;
$headerfont: 'Courier New', Courier, monospace;
$headercolor: white;
$headerpadding: 5px;



nav{
  background-color: $tertiaryColor;
  text-align: center;
  margin-left:15%;
  margin-right:15%;
  
  
}
nav a{
  color:white;
  text-decoration: none;
 
}
nav a:hover{
  color:aqua;
}
nav ul{
  margin-left:15%;
  margin-right:15%;
  
  list-style: none;
  display: inline-flex;
     
  
   
}
nav li{
  padding: 5%;
  display: inline-flex;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
 
  }

  

  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: $PrimaryColor
  }


 

  header{
    margin-left:5%;
    margin-right:5%;
    background-color: $SecondaryColor;
    font:$headerfont;
    text-align: center;

    color:$headercolor;
    }

  
 
  footer{
    font-size: 12px;
    text-align: center;
    color:$headercolor;
    margin-left:5%;
    margin-right:5%;
    background-color: $SecondaryColor;
      
      
      
  }
 
  
  
  
  body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: $PrimaryColor;
      color:$textcolor;
  }


  .Lawn_Maintenance{
    background-color: $lawn_SecondaryColor;
    
    border: 10px solid $lawn_tertiaryColor;
    margin-left: 10%;
    margin-right: 10%;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    h1{
      color:$secondaryTextColor;
    }

    .content{
      background-color:$lawn_PrimaryColor;
      color:$textcolor;
      size: $fontsize;
    }
    .button{
      background-color: $lawn_PrimaryColor;
      color:$textcolor;
      size: $fontsize;
    }

    .collapsible{
      background-color: $lawn_PrimaryColor;
      color:$textcolor;
      size: $fontsize;
    }
  }

  .Snow_Removal{
    background-color: $snow_SecondaryColor;
   
    border: 10px solid $snow_tertiaryColor;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;

    h1{
      color:$tertiaryTextColor;
    }

    .content{
        background-color: $snow_PrimaryColor;
        color:$textcolor;
        size: $fontsize;
    }
    .button{
      background-color: $snow_PrimaryColor;
      color:$textcolor;
      size: $fontsize;
    }
    .collapsible{
      background-color: $snow_PrimaryColor;
      color:$textcolor;
      size: $fontsize;
    }
    
  }

  .Other_Services{

    h1{
      color:$textcolor;
    }

    color:$textcolor;
    background-color: $SecondaryColor;
    border: 10px solid $tertiaryColor;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:20px;
    .content{
      background-color: $PrimaryColor;
      color:$textcolor;
      size: $fontsize;
      
    }
    .button{
      background-color: $PrimaryColor;
      color:$textcolor;
      size: $fontsize;
      
    }
    .collapsible{
      
      color:$textcolor;
      size: $fontsize;
     
    }

  }


  .About_Us{
    color:$textcolor;
    background-color: $SecondaryColor;
    border: 10px solid $tertiaryColor;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:20px;
  }

  .Our_Office{
    color:$textcolor;
    background-color: $SecondaryColor;
    border: 10px solid $tertiaryColor;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:20px;
  }
  .Customer_Reviews{
    color:$textcolor;
    background-color: $SecondaryColor;
    border: 10px solid $tertiaryColor;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding:20px;
  }

  .collapsible:hover {
    background-color: rgb(84, 180, 164);
  }